In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13 
my_minute = 30
my_second = 15

In [4]:
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [8]:
my_date_time.day

2

In [10]:
my_date_time.month

1

In [11]:
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [12]:
type(first_two)

list

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
dt_ind = pd.DatetimeIndex(first_two) # it speifies first_two to be opandas in built datetimeindex

In [15]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [16]:
data = np.random.randn(2,2)
data

array([[ 0.74100593, -0.16659089],
       [-0.17709505,  0.51149705]])

In [17]:
cols = ['a','b']

In [21]:
df = pd.DataFrame(data,dt_ind,cols)

In [22]:
df

                   a         b
2016-01-01  0.741006 -0.166591
2016-01-02 -0.177095  0.511497

In [23]:
#returns max value of df at ___ index (here index = 1) 
df.index.argmax()

1

In [24]:
# returns maximimm value of data
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [25]:
#returns minimum index
df.index.argmin()

0

In [27]:
#returns min value
df.index.min()

Timestamp('2016-01-01 00:00:00')